@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 14px;
  border: 3px solid gray;
}
.navSide{
  display: flex;
  flex-direction: column;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 80%;
}

.swiper-slide:nth-child(3n) {
  width: 80%;
}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: flip 3s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
.wavi span {
  position: relative;
  display: inline-block;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.eventbg{
  background-image: url("./assets/Image/unsplash_dJICd7b_LlE.png");
  height:100%;
  width: 100%;
  background-size: cover;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-position-y:center;
}



@media screen and (max-width: 768px) {
  .eventbg {
    background-size: auto;
    height: 500px;
  }
}